.task {
    border-bottom: 1px solid rgba(0, 0, 0, 0.212);
    border-top: 3px solid rgb(255 255 255 / 42%);
    border-left: 2px solid rgb(255 255 255 / 42%);
    border-right: 1px solid rgba(0, 0, 0, 0.212);
    border-radius: 5px;
    height: 60px;
    width: 96%;
    color: white;
    background-color: #21212170;
    position: relative;
    transition: all 0.25s;
    font-size: 11px;
    margin: 5px 0px;
}

.task:hover {
    background-color: #2121219f;
}

.task-ribbon-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 35%;
    padding: 3px 5px;
}



.task p {
    padding: 0px 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.task-ribbon-txt-sm {
    font-size: 11px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.task-ribbon-txt-md {
    font-size: 14px;
}
.task-ribbon-title {
    margin-right: 10px;
    font-size: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.task-ribbon-dueDate {
    display: flex;
    align-items: center;
}
.delete-btn {
    height: 15px;
    z-index: 10;
    transition: all 0.3s;
}
.delete-btn:hover {
    transform: scale(1.25);
}

.recurring-img {
    padding-right: 1px; 
    height: 20px;
}