/* LOADING DOTS */
.loadingDots {
    display: flex;
    margin: auto;
    width: 100%;
    height: 100%;
    position: relative;
  }
  .redDot {
    line-height: 0px;
    font-family: ui-rounded;
    position: absolute;
    left: 50%;
    color: red;
    font-size: 50px;
    font-weight: 900;
    animation: 1s redSpin infinite;
  }
  @keyframes redSpin {
    0% { left: 10%; top: 75%; }
    50% {  left: 90%; top: 75%;  }
    100% { left: 10%; top: 75%; }
  }
  .blueDot {
    line-height: 0px;
    font-family: ui-rounded;
    position: absolute;
    color: blue;
    font-size: 50px;
    font-weight: 900;
    animation: 1s blueSpin infinite;
    animation-delay: 0.1s;
  }
  @keyframes blueSpin {
    0% { left:10%; top: 50%; }
    50% {  left:90%; top: 50%;  }
    100% { left:10%; top: 50%; }
  }
  .greenDot {
    line-height: 0px;
    font-family: ui-rounded;
    position: absolute;
    color: green;
    font-size: 50px;
    font-weight: 900;
    animation: 1s greenSpin infinite;
    animation-delay: 0.21s;
  }
  @keyframes greenSpin {
    0% { left: 10%; top: 25%; }
    50% { left: 90%; top: 25%;  }
    100% { left: 10%; top: 25%; }
  }
  /* LOADING DOTS */