.task-form {
    background-color: #ffffffb0;
    padding: 1rem;
}

.input-group {
    display: flex;
    flex-direction: row;
}

.input-group label {
    white-space: nowrap;
    font-weight: bold;
    display: none;
}

.input-group input {
    border: none;
    outline: none;
    width: max-content;
    margin: 0px 5px;
    color: green;
    background-color: rgba(255, 255, 255, 0.452);
}

.input-group input:hover {
    background-color: rgba(255, 255, 0, 0.26);
}

.title input {
    font-size: 25px;
    font-weight: bold;
}
.desc input {
    font-size: 20px;
}
.dueDate, .closedDate {
    width: max-content;
}