@import url('https://fonts.googleapis.com/css2?family=Saira&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Saira', sans-serif;
}

html, body, #root {
    height: 100%;
}
/*
    font-size: calc(10px + 2vmin);
*/
.App {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 65px auto 35px;
    height: 100%;
    background-color: #00c9ff;
}

