::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    background-color: #000000c9;
}

::-webkit-scrollbar-thumb {
    background-color: #ffffff96;
}

.task-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
}



